@use "../abstracts" as *;

a[type="button"] {
  padding-block: 1.11rem;
  padding-inline: $button-padding-inline;
  border-radius: $button-border-radius;
  transition: opacity 0.3s ease-in;
  border: transparent;
  --opacity: 1;
  background-color: rgb(24 24 27 / var(--opacity));
  color: $color-light-100;
  transition: opacity 0.3s ease-in;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

button {
  padding-block: $button-padding-block;
  padding-inline: $button-padding-inline;
  border-radius: $button-border-radius;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.12));
  outline: none;
  border: transparent;
  --opacity: 1;
  background-color: rgb(24 24 27 / var(--opacity));
  color: $color-light-100;
  transition: opacity 0.3s ease-in;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

a[type="button-outline"] {
  padding-block: $button-padding-block;
  border-radius: $button-border-radius;
  text-decoration: underline;
  transition: opacity 0.3s ease-in;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

a[type="button-outline-white"] {
  padding-block: 0.98rem;
  padding-inline: $button-padding-inline;
  border-radius: $button-border-radius;
  transition: opacity 0.3s ease-in;
  outline: none;
  border: 1px solid hsl(320, 43%, 99%);
  background: transparent;
  color: hsl(320, 43%, 99%);

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.button-outline {
  --opacity: 1;
  padding-block: $button-padding-block;
  padding-inline: $button-padding-inline;
  border-radius: $button-border-radius;
  outline: none;
  border: 1px solid rgb(24 24 27 / var(--opacity));
  background: transparent;
  color: rgb(24 24 27 / var(--opacity));
  transition: opacity 0.3s ease-in;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.button-outline-white {
  padding-block: $button-padding-block;
  padding-inline: $button-padding-inline;
  border-radius: $button-border-radius;
  outline: none;
  border: 1px solid hsl(320, 43%, 99%);
  background: transparent;
  color: hsl(320, 43%, 99%);
  transition: opacity 0.3s ease-in;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
