@use "../abstracts" as *;

.display-inline {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.ending-quote {
  padding-block: $space-size-48 $space-size-16;
}

.content-block {
  p {
    max-width: 100%;
  }
}

.box-shadow {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
}

.smol-flexbox-grid {
  --min: 10ch;
  --gap: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.smol-flexbox-grid > * {
  flex: 1 1 var(--min);
}

.text-center {
  text-align: center;
}
